/* .hero-section-wrapper {
  position: relative;
} */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.we-are {
  font-size: 120px;
  margin-top: 76.5px;
  font-style: normal;
  font-weight: 700;
  line-height: 143px;
}

.hero-section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-number {
  margin-top: 65px;
  width: 223px;
  height: 56px;
  border-radius: 16px;
  background-color: #3051ff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.vets {
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  letter-spacing: -0.02em;
}

.hero-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.clinic-info {
  display: flex;
  position: relative;
}

.clinic-description {
  margin-top: 160px;
  margin-left: 16px;
}
.clinic-description p {
  width: 300px;
  height: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.services-text {
  margin-right: 10px;
}

.ball {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #183dff;
  border-radius: 50%;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-button img {
  position: absolute;
  display: flex;
  justify-content: center;
  right: 3px;
  margin-right: 4px;
}
.arrow-button {
  position: relative;
  background-color: white;
  color: #183dff;
  width: 157px;
  height: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
}
.clinic-description-button {
  margin-top: 8px;
}

.dog img {
  margin-top: 30px;
}
.dog p {
  width: 265px;
  text-align: left;
  margin-top: 8px;
}

.dog-cat-info {
  display: flex;
}

.cat-button {
  margin-top: 16px;
}

.dog {
  margin-right: 24px;
}

.dog-cat-info {
  margin-left: 114px;
}

.address-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 450px;
  height: 58px;
  border-radius: 16px;
  background-color: #3051ff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.services-section {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  margin-top: 48px;
  width: 1272px;
  height: 1433px;
  background-color: #ffffff;
  border-radius: 24px;
}

.services-section-header {
  margin-top: 51px;
  margin-bottom: 322px;
  color: #000000;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  width: 882px;
  text-align: center;
}

.card {
  width: 392px;
  height: 217px;
  margin-right: 24px;
  background-color: #183dff;
}

.card:last-child {
  margin-right: 0;
}
.cards-1,
.cards-2 {
  display: flex;
  justify-content: center;
}

.cards-title {
  margin-top: 56px;
  margin-bottom: 322px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  color: #000000;
}

.card {
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 232px;
}

.card-image {
  position: absolute;
  bottom: 200px;
  z-index: 1;
}

.card-header {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 20px;
}

.card-description {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  margin-left: 24px;
  margin-bottom: 16px;
  margin-top: 16px;
  width: 344px;
  height: 72px;
}

.view-details-button {
  color: white;
  width: 344px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doctors-section-header {
  margin-top: 80px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  width: 734px;
}

.doctors-section {
  width: 1272px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.doctor-card {
  position: relative;
  width: 1272px;
  height: 587px;
  background-color: #3051ff;
  border-radius: 24px;
  display: flex;
}

.doctor-card p {
  width: 556px;
  height: 128px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 48px;
  margin-left: 40px;
  margin-bottom: 223px;
}

.doctors-list {
  margin-left: 40px;
}

.doctors-list li {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.doctors {
  display: flex;
  position: relative;
}

.women {
  position: absolute;
  right: 0;
}

.women img {
  border-radius: 24px;
}

.doctor-services-button {
  position: absolute;
  right: 0;
  bottom: 13px;
}

.doctor-view-all {
  position: absolute;
  top: 40px;
  right: 40px;
}

.equipment-section-header {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  color: #ffffff;
  width: 590px;
  margin-top: 160px;
  margin-bottom: 40px;
}

.equipment-section-wrapper {
  width: 1272px;
  display: flex;
}

.international-quality-card {
  background-color: #3051ff;
  width: 624px;
  height: 181px;
  border-radius: 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  position: relative;
}

.international-quality-card p:first-child {
  padding-top: 24px;
  margin-left: 22px;
  width: 475px;
}

.international-quality-card p:last-child {
  position: absolute;
  right: 24px;
  bottom: 16px;
  color: #aebbff;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.changed-ball {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 32px;
  right: 32px;
}

.all-equipment-containers {
  display: flex;
  margin-top: 24px;
}

.all-equipment {
  position: relative;
  width: 300px;
  height: 181px;
  border-radius: 16px;
  border: 1px solid white;
  margin-right: 24px;
}

.all-equipment p {
  width: 258px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 24px;
  margin-left: 21px;
}

.custom-ball {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 24px;
  right: 18px;
}

.equipment-image img {
  border-radius: 16px;
}

.equipment-second-container {
  margin-top: 328px;
  margin-left: 22px;
}

.equipment-second-container-image {
  border-radius: 16px;
}

.equipment-second-container-description {
  width: 624px;
  height: 181px;
  background-color: #3051ff;
  border-radius: 16px;
  margin-top: 24px;
  position: relative;
}

.equipment-second-container-description p:first-child {
  padding-top: 24px;
  margin-left: 22px;
  width: 475px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.equipment-second-container-description p:last-child {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #aebbff;
  position: absolute;
  right: 24px;
  bottom: 16px;
}

.charity-section {
  width: 1272px;
}

.charity-section__header {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  width: 697px;
  margin-bottom: 40px;
}

.charity-section__container:first-child {
  margin-top: 160px;
}

.charity-section {
  display: flex;
  flex-direction: column;
}

.charity-section__paragraph {
  width: 628px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.charity-section__container {
  display: flex;
}

.line {
  height: 136px;
  width: 2px;
  background-color: white;
}

.charity-section__wrapper:last-child {
  display: flex;
  align-items: flex-end;
}

.charity-section__subelement-title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 64px;
}

.charity-section__subelement-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.line {
  margin-right: 16px;
}
.line-second {
  margin-left: 121px;
}

.charity-section__block {
  background-color: #3051ff;
  height: 136px;
  border-radius: 16px;
  margin-right: 24px;
  width: 300px;
  height: 136px;
}

.charity-section__container_second {
  display: flex;
  flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  margin-top: 40px;
}

.charity-section__container_second_paragraph {
  width: 300px;
  height: 136px;
}
.charity-section__container_second_paragraph p {
  width: 190px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
}

.charity-section__block p {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #aebbff;
}

.charity-section__block {
  display: flex;
  justify-content: center;
}
.charity-section__block div {
  display: flex;
  align-items: center;
}

.charity-section__block_contacts_us {
  position: relative;
  width: 300px;
  height: 136px;
  border: 1px solid white;
  border-radius: 16px;
}

.charity-section__block_contacts_us p {
  width: 190px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin-top: 24px;
  margin-left: 24px;
}

.reviews-section__block {
  height: 216px;
  border-radius: 12px;
  background-color: white;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.reviews-section__header {
  margin-top: 160px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  margin-bottom: 37px;
}

.reviews-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviews-section__min-block {
  width: 572px;
}

.reviews-section__max-block {
  width: 676px;
}

.reviews-section__container__wrapper {
  display: flex;
}

.reviews-section__block img {
  margin-top: 27px;
  margin-bottom: 10px;
}

.reviews-section__block img,
.reviews-section__block p {
  margin-left: 12px;
}

.reviews-section__container__wrapper:first-child {
  margin-bottom: 28px;
}

.form-section {
  position: relative;
  display: flex;
  margin-top: 160px;
  width: 1272px;
  height: 587px;
  background-color: #3051ff;
  border-radius: 24px;
}

.form-section__block:last-child {
  position: absolute;
  right: 0;
  background-color: white;
  width: 636px;
  height: 587px;
  border-radius: 24px;
}

.form-section__block__first_paragraph {
  margin-top: 40px;
  width: 556px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
}

.form-section__block {
  margin-left: 40px;
}

.form-section__block__second_paragraph {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: -0.02em;
  margin-bottom: 275px;
}

.form-section__block__third_paragraph {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.vet-email {
  position: relative;
  width: 386px;
}

.form-section__block__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-section__block__form_input {
  margin-bottom: 32px;
  width: 556px;
  height: 56px;
  border: none;
  border-bottom: 1px solid #183dff;
  outline: none;
  font-size: 22px;
}

.form-section__block__form_input:first-child {
  margin-top: 90px;
}

.form-section__block__form__send-button {
  position: absolute;
  width: 129px;
  height: 48px;
  border-radius: 100px;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #183dff;
  border: 1px solid #183dff;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 40px;
  left: 40px;
}

.form-section__block__form__send-button p {
  margin-right: 12px;
}
